<section id="promo-3" class="content-block promo-3 min-height-600px bg-deepocean">
  <div class="container text-center">
    <h1>Always stocked and loaded</h1>
  </div>
  <!-- /.container -->
</section>
<section id="content-1-3" class="content-block content-1-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="underlined-title">
          <h1>Give your customers the beer they deserve</h1>
          <hr>
        </div>
        <div class="services-wrapper">
          <div class="col-md-4">
            <div class="icon bg-crete">
              <span class="fa fa-check"></span>
            </div>
            <h4>Guaranteed inventory</h4>
            <p>Know when your product stock in running low with live updates. Customers will always find your products on the
              shelf</p>
          </div>
          <div class="col-md-4">
            <div class="icon bg-finn">
              <span class="fa fa-black-tie"></span>
            </div>
            <h4>Presentation is the key</h4>
            <p>Detect the layout of your brands on the shelf. Ensure that your products are presented with class</p>
          </div>
          <div class="col-md-4">
            <div class="icon bg-sunflower">
              <span class="fa fa-eye"></span>
            </div>
            <h4>Sales Forecasting</h4>
            <p>Use trend analytics to determine days of high demand. Distribute your products efficiently and target the preferred
              brands</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<section id="content-1-1" class="content-block content-1-1 min-height-600px bg-white">
  <div class="container text-center">
    <h1>Let's begin perfecting our craft</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <p class="lead">We don't want to overload you with hundreds of styles you don't want, or need. We give you a strong base to express
        your own creativity.</p>
    </div>
  </div>
</section>
<header id="header-3" class="soft-scroll header-3">
  <nav>
    <div class="container">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <nav class="pull">
          <ul class="top-nav">
            <li>
              <a href="#">Home <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Pages <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Portfolio <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Contact <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- /.nav -->
</header>
<section class="content-block-nopad bg-deepocean footer-wrap-1-3" data-pg-collapsed>
  <div class="container footer-1-3">
    <div class="col-md-4 pull-left">
      <img src="/assets/images/Shelfie_logo.png" class="brand-img img-responsive">
      <ul class="social social-light">
        <li>
          <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-2x fa-behance"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
        </li>
      </ul>
      <!-- /.social -->
    </div>
    <div class="col-md-3 pull-right">
      <p class="address-bold-line">We <i class="fa fa-heart pomegranate"></i> our amazing customers</p>
      <p class="address small">
        123 Anywhere Street,<br> London,
        <br> LO4 6ON</p>
    </div>
    <div class="col-xs-12 footer-text">
      <p>Please take a few minutes to read our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></p>
    </div>
  </div>
  <!-- /.container -->
</section>